.todo-form {
    background-color: #afd3e2;
    justify-content: center;
    height: 100vh;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .form-group.submitButton { 
    padding: 10px 15px;
    background-color: #14171a;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 3%;
  }

  .cancelButton {
    float: right;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  .todo-list {
    padding-top: 20px;
    background-color: #a8c2ce;
  }
  
  .todo-item {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
input, textarea {
    background-color: #19556d;
    color: white;
}

input::placeholder, textarea::placeholder {
    color: rgb(234, 228, 228);
}

.description {
    color: white;
}

.trashButton {
    position: absolute; /* Position the trash button absolutely */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    cursor: pointer; /* Change cursor to pointer */
    color: rgb(165, 59, 59);
  }

  .editButton {
    position: absolute; /* Position the trash button absolutely */
    top: 10px; /* Adjust as needed */
    right: 40px; /* Adjust as needed */
    cursor: pointer; /* Change cursor to pointer */
    color: rgb(59, 63, 165);
  }